<a href="https://colab.research.google.com/github/Govind-Kannan/ARTIFICIAL-NUERAL-NETWORK/blob/main/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**import the libraries**

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

df=pd.read_csv('/content/lung_cancer_examples.csv')
df

In [3]:
df=df.drop(['Name','Surname'],axis=1)
df

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

# Step 1: Data Preparation

In [4]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

**model creation**

**ANN**

In [7]:
ann=tf.keras.models.Sequential()

In [8]:
#first hidden layer
ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [9]:
ann.add(tf.keras.layers.Dense(6,activation='relu'))

In [10]:
ann.add(tf.keras.layers.Dense(1,activation='sigmoid'))

**compile ANN**

In [11]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

In [ ]:
ann.fit(x_train, y_train, epochs=100, batch_size=32, validation_data=(x_test, y_test))

In [15]:
loss, accuracy = ann.evaluate(x_test, y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

1/1 [==============================] - 0s 124ms/step - loss: 0.3078 - accuracy: 0.8333
Test Loss: 0.3078
Test Accuracy: 0.8333

In [18]:
# Step 6: Prediction
pred=ann.predict([[30,0,5,2]])
print(pred)

1/1 [==============================] - 0s 348ms/step
[[0.9931943]]

In [20]:
pred=ann.predict(scaler.transform([[30,0,5,2]]))
if(pred>0.5):
  print(1)
else:
  print(0)

1/1 [==============================] - 0s 62ms/step
0